<ion-toolbar class="toolbar" mode="ios">
  <h3 mode="ios">
    Hey {{name}}
  </h3>
  <ion-button (click)="showCalendar()" slot="end" button-type="button" fill="clear">
    <ion-icon name="apps-outline"></ion-icon>
  </ion-button>
</ion-toolbar>

<ion-content class="content">
  <router-outlet></router-outlet>
</ion-content>

<div class="footer">
  <div class="btns">
    <ion-button button-type="button" fill="clear" routerLink="/home/assignments" routerLinkActive="active" shape="round">
      <ion-icon name="book-outline"></ion-icon>
    </ion-button>

    <ion-button button-type="button" fill="clear" routerLink="/home/subjects" routerLinkActive="active" shape="round">
      <ion-icon name="albums-outline"></ion-icon>
    </ion-button>

    <ion-button button-type="button" fill="clear" slots="icon-only" routerLink="/home/user" routerLinkActive="active" shape="round">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-button>
  </div>
</div>