<ion-content>
  <div class="head" style="padding: 0 20px;">
    <h4 style="font-weight: 800; color: #333;">Today</h4>
  </div>
  <div class="container">
    <div class="item" routerLink="/sub" *ngFor="let i of dummy">
      <ion-ripple-effect></ion-ripple-effect>
      <div class="icon">
        <ion-icon name="newspaper-outline"></ion-icon>
      </div>
      <div class="info">
        <strong>Environmental Science</strong>
        <p>unread : 12</p>
      </div>
      <div class="btn">
          <ion-icon name="arrow-forward-circle-outline" ></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
