.toolbar {
    padding: 20px;
    
    h1 {
        font-weight: 800;
        color: #333;
        margin-left: 20px;
    }

    h3 {
        padding: 0 20px;
        font-size: 14px;
    }
}

.calendar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.info {
    display: flex;
    justify-content: space-evenly;

    .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        ion-icon {
            font-size: 28px;
            margin-right: 5px;
        }
        h6 {
            font-size: 12px;
        }
    }
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}