  <div class="container">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide class="slide1">
        <h1>My School <br> Online</h1>
        <img src="/assets/slides/slide1/illustration.png" alt="">
        <strong>LEARN | GROW | INVENT</strong>
        <p>Your online school <br> for learning</p>
      </ion-slide>
      <ion-slide class="slide2">

        <div class="item">
          <div class="l">
            <img src="/assets/slides/slide2/1.png" alt="">
          </div>
          <div class="r">
            <h4>Video Lessons</h4>
            <p>Learn by taking video classes everyday</p>
          </div>
        </div>

        <div class="item">
          <div class="l">
            <img src="/assets/slides/slide2/2.png" alt="">
          </div>
          <div class="r">
            <h4>Assignments</h4>
            <p>Homework and Assignments right on your phone</p>
          </div>
        </div>

        <div class="item">
          <div class="l">
            <img src="/assets/slides/slide2/3.png" alt="">
          </div>
          <div class="r">
            <h4>Learn Anytime</h4>
            <p>Go back to any lesson anytime</p>
          </div>
        </div>
        
      </ion-slide>
      <ion-slide class="slide3">
        <h1>START</h1>
        <ion-button routerLink="/home" type="button" size="default" mode="md" color="success" fill="outline">
          LOGIN
        </ion-button>
      </ion-slide>
    </ion-slides>
  </div>
